<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    
    <body>
        <h1>Hola Mundo desde DJango</h1>
        <h2>con Templates</h2>
        <p>
            {{myText}},
            {{myNumber}}
        </p>
        <li>{{ forloop.parentloop }} - {{ myItem }}</li>
        <ul>
            {% for myItem in myList %}
                {% for myLeter in mySecondList %}
                    {% ifchanged myItem%}
                    <li> -Se ha cambiado el valor</li>
                    {% endifchanged %}
                {% endfor %}
            {% endfor %}
        </ul>
        {{ request.user }}
        <br>
        {{ request.user.is_authenticated }}
        {% block content %}
            reemplazame
        {% endblock %}
    </body>
</html>