<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    
    <body>
        <h1>Hola Mundo desde DJango</h1>
        <h2>con Templates</h2>
        <p>
            {{myText|upper|truncatechars:"16"}},
            {{myNumber}}
        </p>
        <li>{{ forloop.parentloop }} - {{ myItem }}</li>
        <ul>
            {% for myItem in myList %}
                <li>{{ forloop.counter }} - {{ myItem|add:"2" }}
                {% if myItem == 33 %}
                    -Este numero es magico
                {% elif myItem|divisibleby:"2" %}
                    -Este es un numero par
                {% elif myItem > 50 %}
                    -este numero es mayor que 50
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {{ request.user }}
        <br>
        {{ request.user.is_authenticated }}
        {% block content %}
            reemplazame
        {% endblock %}
    </body>
</html>