<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    
    <body>
        <h1>Hola Mundo desde DJango</h1>
        <h2>con Templates</h2>
        <p>
            {{myText}},
            {{myNumber}}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>{{ forloop.counter }} - {{ myItem }}</li>
            {% endfor %}
        </ul>
        {{ request.user }}
        <br>
        {{ request.user.is_authenticated }}
        {% block content %}
            reemplazame
        {% endblock %}
    </body>
</html>